PORT=3000
JWT_SECRET=abcd1234
JWT_EXPIRES_IN=1D
APP_URL=http://localhost:3000

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:8010 # Base URL of your API
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Database
DATABASE_PROVIDER=mysql
DATABASE_URL='mysql://root:1234@localhost:3306/fiona'